#formCadastro {
  
    display: table;
    width: 100%;
    max-width: 550px;
    margin: auto;
} 
#formCadastro label {
    display: block;
    padding: .25rem .5rem;
}
#formCadastro input,
#formCadastro  select {

    width: 100%;
    background-color: rgb(247, 243, 243);
    border: 1px solid rgb(19, 142, 243);
    border-radius: .3rem;
    border-bottom: 3px solid rgb(19, 142, 243);
    padding: .5rem 1rem;
}
#formCadastro textarea {
    height: 6rem;
    resize: vertical;
}
#formCadastro button {
    background-color: rgb(147, 147, 147);
    color: #fff;
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    pointer-events: none;
    cursor: pointer;
}
#formCadastro input:valid,
#formCadastro select:valid {
    background-color: rgb(222, 255, 222);
    border: 1px solid green;
    border-bottom: 3px solid green;
}

/* Botão para o formulário válído */
#formCadastro:valid button {
    pointer-events: all; /* Habilita o clique no botão */
    background-color: steelblue;
    cursor: pointer;
}
 .bg-cor{
    background: linear-gradient(90deg,rgb(154, 148, 245),rgb(143, 238, 255),rgb(77, 163, 243));
 }