/* Folhas de estilo */
html,body,#wrap {
    position: relative; /* Define a posição relativa para o contêiner */
    height: 100%; /* Define a altura total do contêiner */
}
/* Contêiner principal que engloba todo o conteúdo da página */


*/
/* Estilo para o cabeçalho do site */
header {
    display: flex; /* Define o layout flexível */
    color: rgb(47, 179, 255); /* Define a cor do texto */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    background-color: rgb(12, 255, 12); /* Define a cor de fundo */
}

/* Estilo para a imagem no cabeçalho */
header img {
    width: 64px; /* Define a largura da imagem */
    display: block; /* Define a imagem como um bloco */
    height: auto; /* Ajusta a altura automaticamente */
    margin-right: 25px; /* Adiciona margem à direita */
}

/* Estilo para o título no cabeçalho */
header h1 {
    flex-wrap: wrap; /* Permite que o conteúdo do título seja quebrado em múltiplas linhas, se necessário */
}

/* Estilo para o corpo da página */
body {
    background: black; /* Define a cor de fundo */
    background-size: cover; /* Ajusta o tamanho do fundo para cobrir a área inteira */
    background-attachment: fixed; /* Faz o fundo permanecer fixo ao rolar a página */
}

/* Estilo para a barra de navegação */
nav {
    background: rgb(47, 179, 255); /* Define a cor de fundo da navegação */
    display: flex; /* Define o layout flexível */
    flex-direction: row; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: space-around; /* Distribui os itens */
    padding: 1rem; /* Adiciona preenchimento ao redor do conteúdo */
    color: white; /* Define a cor do texto */
    margin-top: .5rem; /* Adiciona margem superior */
}

/* Estilo para os links de navegação */
nav a {
    display: block; /* Define os links como blocos */
    padding: 1rem; /* Adiciona preenchimento aos links */
    text-decoration: none; /* Remove a decoração do texto (sublinhado) */
    color: white; /* Define a cor do texto dos links */
}

/* Estilo para o rodapé do site */
footer {
    background: rgb(47, 179, 255); /* Define a cor de fundo do rodapé */
    color: #fff; /* Define a cor do texto do rodapé */
}

/* Estilo para a rolo de fotos */
#rolofoto {
    width: 25%; /* Define a largura do rolo de fotos */
    display: block; /* Define o rolo de fotos como um bloco */
    margin-left: auto; /* Define a margem esquerda automática para centralizar */
    margin-right: auto; /* Define a margem direita automática para centralizar */
    border-radius: 12%;        
}
#formContato {
  
    display: table;
    width: 100%;
    max-width: 550px;
    margin: auto;
} 
#formContato label {
    display: block;
    padding: .25rem .5rem;
}
#formContato input,
#formContato textarea {

    width: 100%;
    background-color: rgb(247, 243, 243);
    border: 1px solid red;
    border-radius: .3rem;
    border-bottom: 3px solid red;
    padding: .5rem 1rem;
}
#formContato textarea {
    height: 6rem;
    resize: vertical;
}
#formContato button {
    background-color: rgb(147, 147, 147);
    color: #fff;
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    pointer-events: none;
    cursor: pointer;
}
#formContato input:valid,
#formContato textarea:valid {
    background-color: rgb(222, 255, 222);
    border: 1px solid green;
    border-bottom: 3px solid green;
}

/* Botão para o formulário válído */
#formContato:valid button {
    pointer-events: all; /* Habilita o clique no botão */
    background-color: steelblue;
    cursor: pointer;
}
